<h1>Morgan Evans</h1>

<p class="lead"><strong>Welcome to my home.</strong> Er... homepage. Geez, no one even says homepage anymore, but a person needs a home, right? I tend to think so.</p>

<p class="lead"><strong>I am a technologist and web development team lead.</strong> Most of my work has been in the area of content management, publishing systems, and mass media. In terms of technology, I aim to be a solid generalist in modern scripting languages and databases. I have managed teams of <em>PHP, Python, JavaScript, CSS/Sass, and iOS</em> software engineers. If you asked me to write some code for you, I would probably be most comfortable doing so in <em>Ruby or JavaScript</em>. I try to always choose the right tool for the right job. I tend to prefer <em>opinionated technologies</em> that encourage consistency across projects and provide <em>mature tooling</em>. I prefer to use a <em>test driven development</em> approach when possible and believe a good <em>devops workflow</em> is key to engineer productivity and success, especially at scale.</p>
<!--
<p>My management philosophy...</p>

<p>On a personal note, ...</p>
-->
<p>Wanna trade ideas about engineering leadership? Drop me a line.</p>


<p class="small"><i>Please include your contact information if you would like a reply.</i></p>

<p>Wanna look at me from afar, silently, judgingly? Check out these links :)</p>
<ul>
  <li><a href="http://www.linkedin.com/in/morgane/">resume</a></li>
  <li>
    <a href="http://www.linkedin.com/in/morgane/">
      linkedin <i class="fa fa-external-link"></i>
    </a>
  </li>
  <li>
    <a href="https://github.com/negamorgan">
      github <i class="fa fa-external-link"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/negamorgan">
      twitter <i class="fa fa-external-link"></i>
    </a>
  </li>
</ul>